* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;

  --background-dark: #29333A;
  --purple: #8E48FF;
  --yellow: #dec14e;
  --blue: #485EAE;
  --gray: #596978;
  --white: #fff;
  --red: #e97787;
}

body {
  font-family: 'Khula', sans-serif;
  background: linear-gradient(180deg, #5B32FF 0%, #8E48FF 35.42%) fixed;
  color: var(--white);
}